---
import Layout from "@/layouts/Layout.astro";
import Nav from "@/components/Nav.astro";
import Footer from "@/components/Footer.astro";
import CardGrid from "@/components/CardGrid.astro";

const res = await fetch(new URL("/api/projekte", Astro.url));
let projects = await res.json();
---

<Layout title="Explore Projects | Intertyp GmbH">
	<Nav />
	<main>
		<CardGrid
			items={projects}
			title="Explore Projects"
			description="Browse our latest project additions and references."
			errorMessage="Keine Projekte gefunden."
		/>
	</main>
	<Footer />
</Layout>

<style>
	main {
		max-width: 1200px;
		margin: 2rem auto;
		padding: 0 1rem;
	}
</style>
