@import url('reset.css');
@import url('fonts.css');

:root {
	--clr-primary: 1, 126, 1;
	--clr-secondary: 124, 232, 238;
	--clr-accent: 45, 74, 180;
	--clr-background: 246, 253, 242;
	--clr-text: 15, 18, 13;

	--ff: 'Inter', system-ui, sans-serif;
}

/* Styles */

body {
	font-family: var(--ff);
	background-color: rgb(var(--clr-background));
	color: rgb(var(--clr-text));
	scrollbar-width: none;
	-ms-overflow-style: none;
	font-family: 'Inter';
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Nunito Sans';
	font-weight: 700;
}

html {
	font-size: 100%;
}


h1 {
	font-size: 4.210rem;
}

h2 {
	font-size: 3.158rem;
}

h3 {
	font-size: 2.369rem;
}

h4 {
	font-size: 1.777rem;
}

h5 {
	font-size: 1.333rem;
}

small {
	font-size: 0.750rem;
}

a {
	color: rgb(var(--clr-link));
}

a:hover,
a:active {
	color: rgb(var(--clr-link-hover));
}

code {
	font-family: var(--font-mono);
}

hr {
	border: none;
	height: 1px;
	width: 98%;
	background: rgb(var(--clr-text));
	opacity: 0.2;
	margin: 2rem auto;
}

.text-gradient {
	background-image: linear-gradient(90deg, rgb(var(--clr-primary)), rgb(var(--clr-accent)));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

::-webkit-scrollbar {
	display: none;
}