---
import Layout from "../layouts/Layout.astro";

const path = Astro.url.pathname;
import logo from "../assets/logo.png";
import { Image } from "astro:assets";
---

<Layout title="404: Not found">
	<main class="center">
		<a href="/">
			<Image class="logo" src={logo} alt="Intertyp Logo" />
		</a>
		<h1><span class="statusCode">404: </span> <span class="statusMessage">Not found</span></h1>
		<p>Die URL, die Sie aufgerufen haben, ist ungültig oder ist nicht mehr verfügbar.</p>
		<p>Bitte überprüfen Sie die URL oder gehen Sie zurück zur <a href="/">Startseite</a>.</p>
	</main>
</Layout>

<style>
	.center {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
		width: 100vw;
	}

	h1 {
		margin-bottom: 8px;
		font-weight: 700;
		margin-top: 1rem;
		margin-bottom: 0;
	}

	.statusCode {
		color: rgb(var(--clr-primary));
	}

	.logo {
		position: relative;
		top: -3rem;
		height: 200px;
	}
</style>
