---
import Layout from "@/layouts/Layout.astro";
import Nav from "@/components/Nav.astro";
import About from "@/components/About.astro";
import Products from "@/components/Products.astro";
import Projects from "@/components/Projects.astro";
import Footer from "@/components/Footer.astro";
import Hero from "@/components/Hero.astro";
---

<Layout title="Intertyp GmbH – Ihr Spezialist für Außenwerbung">
	<Nav mode="light" />
	<Hero title="InterTyp" subtitle="Ihr Spezialist für Außenwerbung" />
	<main>
		<Products />
		<Projects />
	</main>
	<Footer />
</Layout>

<style>
	main {
		max-width: 1200px;
		margin: 2rem auto;
		padding: 0 1rem;
	}
</style>
