---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout title="Intertyp GmbH – Ihr Spezialist für Außenwerbung">
	<Nav />
	<main>
		<section id="header"></section>
		<section id="about"></section>
		<section id="projects"></section>
	</main>
	<footer></footer>
</Layout>

<style>

</style>
