---
// interface Props {
// 	links: {
// 		href: string;
// 		label: string;
// 	}[];
// }

// const { links } = Astro.props as Props;

import { Icon } from "astro-icon/components";
---

<footer>
	<div class="about">
		<ul>
			<li><Icon name="fluent:location-16-regular" /><a href="https://maps.app.goo.gl/AxD4T8q99zNEYy3L7" target="_blank">Intertyp GmbH<br /></a></li>
			<li><Icon name="fluent:mail-16-regular" /> <a href="mailto:stempel@intertyp.at">stempel@intertyp.at</a></li>
			<li><Icon name="fluent:call-16-regular" /> <a href="tel:+43 732 66 30 00">+43 732 66 30 00</a></li>
			<li><Icon name="fluent:clock-16-regular" /> Mo - Do 09:00 - 12:00 Uhr</li>
		</ul>
	</div>
	<div class="quicklinks">
		<ul>
			<li><a href="/projects">Produkte</a></li>
			<li><a href="/projects">Kunden</a></li>
			<li><a href="/about">Im Geschäft</a></li>
			<li><a href="/contact">Kontakt</a></li>
		</ul>
	</div>
	<div class="policies">
		<ul>
			<li><a href="/impressum">Impressum</a></li>
			<li><a href="/privacy">Datenschutz</a></li>
			<li><a href="/agb">AGB</a></li>
		</ul>
	</div>
</footer>

<style>
	footer {
		padding: 20px;
	}
</style>
