---
import Button from "@/components/ui/Button.astro";

import plotterVid1 from "@/assets/videos/plotter 2.mp4";
import plotterVid2 from "@/assets/videos/plotter 1.mp4";
---

<script>
	document.addEventListener("astro:page-load", () => {
		let videoIndex = 0;
		const videoElement = document.querySelector("video") as HTMLVideoElement;
		const videoSources = document.querySelectorAll("video source") as NodeListOf<HTMLSourceElement>;

		function changeVideo() {
			videoIndex = (videoIndex + 1) % videoSources.length;
			const nextSource = videoSources[videoIndex];
			if (videoElement && nextSource) {
				videoElement.prepend(nextSource);
				videoElement.load();
				videoElement.play();
			}
		}

		setInterval(changeVideo, 5000);
	});
</script>

<section>
	<video autoplay loop muted playsinline>
		<source src={plotterVid1} type="video/mp4" />
		<source src={plotterVid2} type="video/mp4" />
	</video>
	<div class="overlay"></div>
	<div class="header-content">
		<h1>Schilder, Stempel, Pokale und mehr</h1>
		<p>Wir sind Ihr Partner für individuelle Beschriftungen und Werbetechnik.</p>
		<Button forward>Jetzt anfragen</Button>
	</div>
</section>

<style>
	section {
		margin-top: 2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		position: relative;
		overflow: hidden;
	}
	video {
		width: 100vw;
		z-index: 1;
		max-height: 50vh;
		object-fit: cover;
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.4);
		z-index: 2;
	}

	.header-content {
		color: white;
		position: absolute;
		transform: translateY(-50%) translateX(-50%);
		top: 50%;
		left: 50%;
		z-index: 3;
		text-align: center;
		max-width: 800px;
		line-height: 1.1;
	}

	.header-content h1 {
		font-size: 5rem;
		font-weight: 750;
		margin-bottom: 1rem;
	}

	.header-content p {
		font-size: 1.6rem;
		margin-bottom: 2rem;
	}

	button {
		font-size: 1.4rem;
	}
</style>
