---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";

interface Props {
	title: string;
	transitions?: boolean;
}

const { title, transitions = true } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		{transitions && <ClientRouter fallback="none" />}
		<meta charset="UTF-8" />
		<meta name="description" content="Ihr Spezialist für Buchstaben, Schilder, Folien & Stempel. Wir bieten unseren Kunden eine maßgeschneiderte Lösung für Beschriftung, Buchstaben, Folierung & Stempel." />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="generator" content={Astro.generator} />
		<meta name="darkreader-lock" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style></style>
