---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/Nav.astro";
import Footer from "../../components/Footer.astro";
import Details from "../../components/Details.astro";

import pylonImg from "../../assets/images/pylon_mc3.jpg";
import innenbschrImg from "../../assets/images/innenbeschriftung.jpg";
import pokaleImg from "../../assets/images/Pokale.jpg";
import Button from "../../components/ui/Button.astro";
---

<Layout title="Intertyp GmbH – Ihr Spezialist für Außenwerbung">
	<Nav />
	<main>
		<section id="header"></section>

		<section id="products">
			<h2>Unsere <span>Dienstleistungen</span></h2>
			<Details heading="Innen- und Außenbeschriftung" side="right" img={innenbschrImg.src}>
				<p>
					Für Ihre Beschriftungen im Innen- und Außenbereich bieten wir maßgeschneiderte Lösungen in Form von Folierungen, Schildern und Buchstaben. Unsere Werbetechnik bringt Ihre
					Unternehmensidentität sichtbar und einzigartig zur Geltung.
				</p>
				<p>Wir beraten Sie gerne und erstellen Ihnen ein individuelles Angebot.</p>
				<Button variant="secondary" forward>Mehr erfahren</Button>
			</Details>

			<Details heading="Pylon- und Lichtwerbung" side="left" img={pylonImg.src}>
				<p>
					Pylone setzen ein starkes Zeichen – sie dienen als Orientierungshilfe, Firmenhinweis oder Blickfang im Außenbereich. Ob ein- oder doppelseitig, freistehend oder
					integriert: Wir gestalten und fertigen Ihre Pylone individuell nach Ihren Anforderungen.
				</p>
				<p>Wir machen Ihnen gerne ein individuelles Angebot.</p>
				<Button variant="secondary" forward>Mehr erfahren</Button>
			</Details>

			<Details heading="Schilder, Stempel, Pokale" side="right" img={pokaleImg.src}>
				<p>
					Von Geschoss- und Türbeschriftungen, Verkehrszeichen, ÖNORM- und Brandschutzschildern über Stempel für Büro und Werkstatt bis hin zu Pokalen – wir bieten Ihnen alles aus
					einer Hand.
				</p>
				<Button variant="secondary" forward>Mehr erfahren</Button>
			</Details>
		</section>

		<section id="projects"></section>
		<section id="contact"></section>
	</main>
	<Footer />
</Layout>

<style>
	main {
		max-width: 1200px;
		min-height: 60vh;
		margin: 0 auto;
		padding: 0 2rem;
	}

	h2 {
		text-align: center;
		font-size: 2.2rem;
		margin: 2rem 0;
		margin-bottom: 15px;
	}

	h2 span {
		color: rgb(var(--clr-text));
		text-decoration: underline;
		text-decoration-color: rgb(var(--clr-primary));
		text-decoration-thickness: 2px;
		text-underline-offset: 3px;
	}

	.button {
		margin-top: 20px;
	}

	#products p {
		margin-bottom: 0.5rem;
	}
</style>
